#addItemForm {
  margin: 1rem;
}

#addItemForm input {
  background-color: white;
  border: 1px solid steelblue;
  border-radius: 5px;
  padding: .2rem;
}

#addItemForm button {
  margin-left: .3rem;
  background-color: white;
  color: steelblue;
  border: 1px solid steelblue;
  border-radius: 5px;
  padding: .2rem;
  cursor: pointer;
}